.App {
  text-align: center;
}
.img-container {
  width: 80px;
  margin: 0 auto;
}
.img-container img {
  height: 80px;
  width: 100%;
  border-radius: 50%;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  max-width: 400px;
  box-shadow: 1px 2px 8px grey;
  margin-top: 50px;
}

.prev-btn,
.next-btn {
  padding: 5px;
  background-color: transparent;
  border: none;
}

.surprise {
  background-color: rgba(176, 211, 218, 0.734);
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.see-btn {
  margin-left: 3px;
  border: none;
  background-color: transparent;
  color: red;
}
.job-text {
  color: blueviolet;
  font-size: 12px;
}
